# Safe order of dependencies
torch==2.6.0
streamlit==1.45.1
tensorflow==2.18.0
torchvision @ https://download.pytorch.org/whl/cu124/torchvision-0.21.0%2Bcu124-cp310-cp310-linux_x86_64.whl
gdown==5.2.0
numpy==2.0.2
pillow==11.2.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git
