# Python packages (install these FIRST)
torch==1.10
torchvision @ https://download.pytorch.org/whl/cu124/torchvision-0.21.0%2Bcu124-cp39-cp39-linux_x86_64.whl
streamlit==1.45.1
opencv-python==4.11.0.86
tensorflow==2.18.0
gdown==5.2.0
numpy==2.0.2
pillow==11.2.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@v0.6
